name: 'Jira Webhook Direct'

on:
  repository_dispatch:
    types: [jira_trigger] # Debe coincidir con el event_type de Jira

permissions:
  contents: write # Necesario para crear carpetas

jobs:
  process_jira_webhook:
    runs-on: ubuntu-latest
    
    # 1. Define la clave de la incidencia como variable de entorno
    env:
      ISSUE_KEY: ${{ github.event.client_payload.issue_key }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Crear Carpeta CP y Carpeta de la Incidencia
        run: bash create_folders.sh "${{ env.ISSUE_KEY }}" 
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # --- PASO 4: INSTALACIÓN OPTIMIZADA (USANDO RUTA EXPLÍCITA) ---
      
      # 4a. Cache pip dependencies
      - name: Cache pip dependencies
        uses: actions/cache@v4
        with:
          # RUTA CORREGIDA: Usamos una ubicación temporal explícita para garantizar consistencia
          path: ${{ runner.temp }}/pip_cache_deps 
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # 4b. Install dependencies
      - name: Install dependencies (Usando requirements.txt)
        env:
          # Indicamos a pip que use la MISMA RUTA explícita para guardar/buscar la caché
          PIP_CACHE_DIR: ${{ runner.temp }}/pip_cache_deps
        run: pip install -r requirements.txt
          
      # 5. Ejecuta el script principal de Python (Descarga + Procesamiento)
      - name: Ejecutar Descarga de Adjuntos y Procesamiento
        run: python get_issue_attachments.py
        env:
          # --- Credenciales y Secrets ---
          URL_JIRA: ${{ secrets.URL_JIRA }} 
          USER_JIRA: ${{ secrets.USER_JIRA }}
          JIRA_TOKEN: ${{ secrets.JIRA_TOKEN }}
          OPENROUTER_APIKEY: ${{secrets.OPENROUTER_APIKEY}}

          # Credenciales de SMTP
          EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }}      
          PASSWORD_SENDER: ${{ secrets.PASSWORD_SENDER }}
          
          # Variables dinámicas
          ISSUE_KEY: ${{ env.ISSUE_KEY }}
          TARGET_DIR: ${{ env.TARGET_DIR }}